APP_VERSION=1.0.1

STAGE=prod

DB_PASSWORD=pass
DB_NAME=teslodb
DB_HOST=teslodb.ondigitalocean.com
DB_PORT=5432
DB_USERNAME=teslo-user

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=Est3EsMISE3Dsecreto32s